:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Começo Seção de Status */

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.4rem;
    gap: 4rem;
}

.container_status_financeiro{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1rem;
} 

.container_status_financeiro > section.box_status {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.box_valor_status{
    display: flex;
    justify-content: center;
    
    width: 248px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 6px;

    color: var(--bs-light);
}

.box_valor_status span{

    text-transform: uppercase;
    font-size: 0.8rem;

    font-weight: medium;
    letter-spacing: 2px;
}

.box_valor_status.entrada:hover{
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(13,110,253,1);
    -moz-box-shadow: 10px 10px 46px 0px rgba(13,110,253,1);
    box-shadow: 10px 10px 46px 0px rgba(13,110,253,0.60);
}

.box_valor_status.saida{
    background-color: #dc3545;
}

.box_valor_status p{
    line-height: 1.7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.arrow_icon_entrada, .arrow_icon_saida{
    width: 2.6rem;
} 

/* Fim Seção de Status */

/* Começo Planejamento FInanceiro */

.box_planejamento_financeiro{
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1rem;

    min-width: 600px;
    color: var(--bs-light);
    background-color: var(--bs-dark);
    border-radius: 6px;
}

/* Fim Planejamento FInanceiro */

/* Começo Formação */

.container_formacao{
    text-align: center;
}

.box_formacao{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    flex-wrap: wrap;

    gap: 1rem;
}
 
/* Fim Formação */


/* Começo Noticiais de Mercado */

.box_noticias_mercado{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    flex-wrap: wrap;

    gap: 1rem;
}

.container_noticias_mercado{
    text-align: center;
    margin-bottom: 16rem;
}

/* Fim Noticiais de Mercado */
 
/* @media (max-width: 575.98px) {

}  */

@media (max-width: 767.98px) { 

}

@media (max-width: 991.98px) { 

}

@media (max-width: 1199.98px) {  }

@media (max-width: 1399.98px) {  } 